body {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h4 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

main {
  display: flex;
  justify-content: center;
}

.wrapper {
  padding: 1em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gainsboro;
}

h1 {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  color: #2D8C8C;
}

.logo {
  width: 20px;
  padding-bottom: 4px;
}

.about-section {
  color: #00143F;
  border-bottom: 1px solid gainsboro;
  padding: 1em 0;
  margin-bottom: 3em;
}

.about h2 {
  font-size: 1.2em;
}

.about span {
  font-size: .9em;
  text-transform: uppercase;
  font-weight: 600;
}

.portrait-container {
  display: flex;
  justify-content: center;
}

.portrait {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid gainsboro;
}

.project-section {
  margin-bottom: 3em;
}

.project-1 h2 {
  border-bottom: 5px solid #9ACC99;
}

.project-2 h2 {
  border-bottom: 5px solid #33999B;
}

.project-3 h2 {
  border-bottom: 5px solid #FF6766;
}

.project-img {
  width: 100%;
  height: auto;
}

.project-section {
  border-bottom:  1px solid gainsboro;
  padding-bottom: 3em;
}

.project-section:last-child {
  border: none;
}

.description h2 {
  padding: .2em 0 .5em 0;
}

.description a {
  color: #33999B;
  font-weight: 600;
  font-size: 1.2em;
  display: inline-block;
  margin-top: 1em;
  text-decoration: none;
}

.description a:hover {
  text-decoration: underline;
}

.tools li {
  font-size: .9em;
}

.tools li:before{
  content: "- ";
}

h4 {
  color: #505050;
}

footer {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 700px) {
  .wrapper {
    padding: 1em;
  }
  h1 {
    font-size: 18px;
  }
  .logo{
    width: 25px;
  }
  .portrait-container {
    justify-content: flex-end;
    padding: 0 2em;
  }
  .about-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 2em 1em;
    margin-bottom: 4em;
  }
  .about p {
    padding-right: 1em;
  }
  .description-content{
    display: flex;
  }
  .description p {
    width: 70%;
    padding-right: 1em;
  }
  .tools {
    padding-left: 1em;
    margin: 1em 0;
    border-left: 1px solid gainsboro;
  }
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;
  }
  .about-section {
    padding: 4em 1em;
  }
  .about{
    padding-left: 2em;
  }
}

@media only screen and (min-width: 1400px) {
  .wrapper {
    width: 1400px;
  }
  .about {
    width: 75%;
  }
  .project-section {
    display: flex;
    justify-content: flex-end;
  }
  .portrait-container {
    width: 35%;
    justify-content: center;
    padding: 0 1em;
  }
  .portrait {
    width: 220px;
    height: 220px;
  }
  .description {
    width: 35%;
    padding: 0 2em;
  }
  .description-content{
    display: block;
  }
  .description p {
    width: 100%;
    padding-right: 1em;
  }
  .tools {
    padding: 0;
    border: none;
  }
}
